<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col"><button class="btn btn-danger" routerLink="../auth">Login/Register</button></div>
    <div class="col"><a routerLink="../cart"><button class="btn btn-danger">Cart</button></a> </div>
    <h1 class="col align-middle">Books</h1>
    <div class="col"><a routerLink="../addbook"><button class="btn btn-default">Sell your books!</button></a> </div>
    <div class="col"><a routerLink="../wishlist"><button class="btn btn-primary">Wishlist</button></a> </div>
    <div class="col"><a routerLink="../message"><i class="fas fa-bell"></i></a> </div>
  </div>
  <div class="">
<!-- <ul style="list-style-type:none;padding:0;margin:0;"> -->
<!-- <ul> -->

<!-- <li *ngFor="let person of people | orderBy : ['-lastName', 'age']">{{person.firstName}} {{person.lastName}}, {{person.age}}</li> -->
    <div class="row   m-4 " id="item-list" >
      <!-- <div *ngFor="let item of Products"> -->
      <div class="col-4 card m-4 p-4 text-center bg-info shadow-lg" *ngFor="let item of Products" id="{{item.id}}">
        <a routerLink="../details/{{item.id}}"> <strong><h3> {{item.name}} </h3> </strong> </a>

        <div class="row">
          <div class="col m-3 p-3">
            <img src="api/{{item.image}}" class="  col rounded float-center img-thumbnail img-fluid" alt="">
            <span class="col m-1 ">Rs. {{item.price.toLocaleString()}}</span>

          </div>
          <div class="col">
            <button class=" col btn btn-primary m-2 p-2" (click)="buy($event)">Buy</button>
            <button class="col btn btn-danger m-2 p-2" (click)="addToWishlist($event)">Add To Wishlist</button>
          </div>
        </div>
      </div>
    </div>
    <!-- </div> -->
    <!-- </ul> -->
  </div>
</div>
