<div class="container">
  <div class="row">

    <h1 class="col align-middle">Cart</h1>
    <div class="col"><button class="btn btn-info m-2" (click)="emptyCart()">Clear Cart</button> </div>
  </div>
  <div class="">


    <div class="row   m-4 " id="cart-item-list">
<ul style="list-style-type:none;">
      <li class="col m-2 p-4 bg-light shadow-lg " *ngFor="let cartelement of Cart" id="{{cartelement.id}}" >

        <img src="../assets/images/books.jpg" class="col-4 rounded float-center img-thumbnail img-fluid" >
         <a routerLink="../details/{{cartelement.id}}"><strong>{{cartelement.name}}</strong></a>
         <div class="col-4 m-2">
           Rs. {{cartelement.price.toLocaleString()}}
         </div>


       </li>
</ul>




    </div>

    <div class="card col shadow-lg text-right rounded m-2 p-2" >
           <p> The total amount is : Rs. {{amount || 0}} /-</p>
    </div>
    <button class="btn btn-info rounded m-3 p-2" (click)="checkout()">Checkout</button>

  </div>
</div>
